*{
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(40, 13, 66);
    width: auto;
}
header {
    background-color: #0f0f31;
    color: azure;
    display: flex;
    align-items: center;
    font-size: 150%;   
}
.cabecalho-img{
    width: 20%;
}
p{
    display: block;
    font-size: 25px;
}
.inicio{
    text-align: center;
    font-size: 40px;
    color: black;
    padding: 30px 0px 0px 0px;
}
.inic{
    text-align: center;
    color: black;
    font-size: 35px;
    padding: 20px 0px 0px 0px;
}
.inicios{
    font-size: 25px;
    text-align: center;
    color: beige;
    padding: 20px 0px 0px 0px ;
}
.historia-alfredo{
    padding: 60px 0px 0px 0px;
}

.alfredo-historia{
    padding: 30px 0px 0px 0px;
}
#historia{
    padding: 60px 0px 0px 0px;
}
.alunos-do-alfredo{
    padding: 70px 0px 0px 0px;
}
.estudantes{
    padding: 30px 0px 30px 0px;
}
#sobre-a-rafa{
    padding: 20px 0px 0px 0px;
}
#sobre-o-richard{
    padding: 20px 0px 0px 0px;
}
#sobre-o-matheus{
    padding: 20px 0px 0px 0px;
}
#sobre-vitoria{
    padding: 20px 0px 0px 0px;
}
#sobre-eu{
    padding: 20px 0px 0px 0px;
}
#sobre-a-karol{
    padding: 20px 0px 0px 0px;
}

#instagram-vk{
    display: flex;
    display: grid;
    grid-template-columns:33% 33% 33%;
}
#instagram-r-r{
    display: flex;;
    display: grid;
    grid-template-columns: 10% 30% 60%
}
#insta-rafa{
    width: 80px;
    height: 80px;
    display: flex; 
    padding: 0px 10px 0px 50px;  
}

#insta-richard{
    width: 80px;
    height: 80px;
    display: flex;  
    padding: 0px 30px 10px 0px; 
}
#ttk-rafa{
    width: 80px;
    height: 80px;
    display: flex;
    padding: 0px 25px 10px 30px; 
}
.historia-alfredo{
    text-align: center;
    font-size: 40px;
}
.historia{
    display: flex;
    margin:0%;
    text-align:left ;
    font-size: 250%;
    display: flex;
    color:beige
}
.alfredo-historia{
    text-align: center;
    display: flex;
}
.comeco-do-alfredo{
    width: 480px;
    height: 400px;
    display: flex;
    border-color: black;
    border: 10px 10px 10px 10px;
}
.alfredo-imagem{
    text-align:right;
    color: black;
    font-size: 30px;
}
.alunos-do-alfredo{
    text-align: center;
    font-size: 40px;
}
.estudantes{
    text-align: center;
    color: beige;
}
.rafa-richard{
    display: flex;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.rafa{
    width: 400px;
    height: 460px;  
    border: 5px solid black;  
}
.richard{
    width: 400px;
    height: 460px;
    border: 5px solid black;
}
.matheus{
    width: 400px;
    height: 460px;
    border: 5px solid black;
}
#nomes{
    color: beige;
}
#r-r{
    display: flex;
    display: grid;
    grid-template-columns: 33% 33% 33% ;
}
.vi-eu{
    display: flex;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 20px 0px 0px 0px;
   
}

#instagram-vk{
    grid-template-columns: 15% 15% 15% 15% 15% 15%;

}
#insta-vi{
    width: 80px;
    height: 80px;
    display: flex; 
    padding: 10px 10px 0px 50px;  
}
#insta-ana{
    width: 80px;
    height: 80px;
    display: flex; 
    padding: 10px 10px 0px 80px;  
}
#insta-ka{
    width: 80px;
    height: 80px;
    display: flex; 
    padding: 10px 10px 0px 120px;  
}
#ttk-vi{
    width: 80px;
    height: 80px;
    display: flex;
    padding: 10px 25px 10px 0px; 
}
#ttk-ka{
    width: 80px;
    height: 80px;
    display: flex;
    padding: 10px 30px 10px 60px; 
}
#ttk-ana{
    width: 80px;
    height: 80px;
    display: flex;
    padding: 10px 30px 10px 30px; 
}

.vitoria{
    width: 400px;
    height: 450px;  
    border: 5px solid black;  
}
.eu{
    width: 400px;
    height: 450px;
    border: 5px solid black;
}
.karol{
    width: 400px;
    height: 450px;
    border: 5px solid black;
}
#v-k{
    display: flex;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
#espaco{
    padding: 60px 0px 30px 0px;
}

#quadra{
    padding: 0px 0px 40px 0px;
}
.alfredo-espaco{
    text-align: center;
    color: beige;
}
.espaco-interno{
    text-align: center;
    display: flex;
    margin: 0%;
    align-items: center;
    font-size: 150%;
}
#espaco{
    font-size: 40px;
    color:black;
    text-align: center;
}
.espaco-externo{
    text-align: center;
    font-size: 40px;
    color: black
}
.quadra-principal{
    width: 1300px;
    height: 650px;
    display: block;
    margin: 0 auto;
    border: 5px solid black;   
}
.interclass{
    align-items: center;
}
.interclasse-2022{
    text-align: center;
    color: beige;
}
#inter{
    text-align: center;
    font-size: 40px;
    color: black;
    padding: 50px 0px 30px 0px;
}
#sala-2022{
    padding: 0px 0px 35px 0px;
}
.imagens{
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;
}
.alemanha{
    width: 650px;
    height: 325px;
    display: flex;
    padding: 0px 10px 25px 10px;
}
.sala-inteira {
    width: 650px;
    height: 325px;
    display: grid;
    padding: 0px 10px 25px 10px;
}
.imagens-alemanha{
    display: flex;
    display: grid;
    grid-template-columns: 50% 50%;

}
.sala{
    width: 650px;
    height: 325px;
    display: inline-flex;
    padding: 20px 10px 25px 10px;
}
.bandeirinhas{
    width: 650px;
    height: 325px;
    display: inline-flex;
  
    padding: 20px 10px 25px 10px;
}
footer{
    text-align: center;
    color: black;
}
.rodape{
    padding:  0px 0px 0px;
}
.rodap{
    color: rgb(17, 0, 253);
    text-align: center;
    font-size:25px;
}

    text-align: center;
    font-size:25px;
}
